:root {
  --main-font: "Roboto", sans-serif;
  /* text color */
  --main-txt-cl: #212A2F;
  --secondary-txt-cl: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul, li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #212A2F;
}

.title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #212A2F;
}

.subtitle {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #212A2F;
  padding-bottom: 30px;
}

.image {
  padding-bottom: 48px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 8px;
  }
  .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 5px 25px 5px;
  }
}
.container {
  width: 100%;
  max-width: 1266px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-ligth {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
  background-color: #FFFFFF;
  border-radius: 2px;
}

.btn-dark {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #212A2F;
  border: 2px solid #212A2F;
  border-radius: 2px;
}

.btn-ligth:hover,
.btn-ligth:focus,
.btn-dark:hover,
.btn-dark:focus {
  opacity: 0.89;
  transition: all ease 200ms;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__burger {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 36px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.6;
  transition: all ease 200ms;
}

.logo__img {
  width: 120px;
  height: 38px;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:first-child {
  margin-right: 36px;
}

.header__item:not(:last-child) {
  margin-right: 18px;
}

.header__item:nth-child(5) {
  display: none;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-transform: uppercase;
}

.header__link:hover,
.header__link:focus {
  opacity: 0.6;
  transition: all ease 200ms;
}

@media screen and (max-width: 767.98px) {
  .header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav {
    display: none;
  }
  .header__item:nth-child(1) {
    display: none;
  }
  .header__item:nth-child(2) {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
@media screen and (max-width: 375px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__item:nth-child(4) {
    display: none;
  }
  .header__item:nth-child(5) {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger.active:before {
    content: "";
    transform: rotate(45deg);
    top: 9px;
    background-color: #828282;
  }
  .header__burger.active:after {
    content: "";
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #828282;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
.hero__container {
  position: relative;
}

.hero__image {
  width: 100%;
}

.hero__wrapper {
  position: absolute;
  left: 54px;
  bottom: 66px;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 11px;
}

.hero__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 24px;
}

.hero__wrapper__link {
  display: flex;
}

.hero__link {
  box-sizing: border-box;
  text-align: center;
  width: 180px;
  padding: 13px 20px;
}

.hero__span {
  padding: 16px 32px;
}

.hero__link:not(:last-child) {
  margin-right: 24px;
}

@media screen and (max-width: 834px) {
  .hero__wrapper {
    left: 20px;
    bottom: 45px;
  }
  .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 415px) {
  .hero__wrapper__link {
    flex-direction: column;
  }
  .hero__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 375px) {
  .hero__wrapper {
    left: 10px;
    bottom: 38px;
  }
  .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
  }
  .hero__subtitle {
    margin-bottom: 16px;
  }
}
.favorites {
  padding-top: 120px;
  padding-bottom: 120px;
}

.favorites__main-title {
  text-align: center;
}

.favorites__wrapper-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites__btn {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212A2F;
  border: none;
  background-color: transparent;
  padding: 10px 30px;
  cursor: pointer;
}

.favorites__btn:not(:last-child) {
  margin-right: 72px;
}

.favorites__wrapper-block {
  position: relative;
  margin-bottom: 18px;
}

.favorites__list {
  display: none;
}

.visually {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  padding-top: 34px;
}

.btn__visually {
  border-bottom: 2px solid #000000;
}

.favorites__wrapper-btn::after {
  content: "";
  border: 2px solid #D3D4D5;
  width: 100%;
  position: absolute;
  bottom: -3px;
}

.favorites__image {
  width: 100%;
}

.favorites__wrapper-option {
  padding-right: 30px;
  padding-left: 30px;
}

.favorites__title {
  display: inline-block;
  position: relative;
  margin-bottom: 22px;
}

.favorites__title:hover,
.favorites__title:focus {
  opacity: 0.8;
  transition: all ease 200ms;
}

.favorites__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.favorites__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #D3D4D5;
  left: 0;
  top: -6px;
}

.favorites__text {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: #212A2F;
}

.favorites__text:not(:first-child) {
  margin-left: 12px;
}

.favorites__wrapper-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.favorites__link {
  text-align: center;
  width: 100%;
  min-width: 276px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.favorites__link:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (max-width: 967px) {
  .visually {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media screen and (max-width: 767.99px) {
  .favorites {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 653px) {
  .visually {
    grid-template-columns: 1fr;
    gap: 16px;
    padding-top: 16px;
  }
  .favorites__btn:not(:last-child) {
    margin-right: 10px;
  }
  .favorites__btn {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    padding: 10px 16px;
  }
}
@media screen and (max-width: 320px) {
  .favorites {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .favorites__btn:not(:last-child) {
    margin-right: 10px;
  }
  .favorites__btn {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    padding: 10px 12px;
  }
  .favorites__wrapper-option {
    padding-right: 0;
    padding-left: 0;
  }
}
.change {
  padding-bottom: 120px;
}

.change__container {
  display: flex;
  flex-direction: column;
}

.change__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.change__title {
  text-align: center;
  padding-bottom: 24px;
}

.change__text {
  margin: 0 auto;
  text-align: center;
}

.change__wrapper__link {
  display: flex;
  margin: 0 auto;
}

.change__link {
  width: 180px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}

.change__link:not(:last-child) {
  margin-right: 24px;
}

@media screen and (max-width: 767.99px) {
  .change {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 375px) {
  .change__wrapper__link {
    flex-direction: column;
  }
  .change__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 320px) {
  .change {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.collections {
  padding-bottom: 120px;
}

.collections__container {
  position: relative;
}

.collections__title {
  padding-bottom: 24px;
  margin-left: 10px;
}

.collections__list {
  display: flex;
  justify-content: center;
}

.collections__item {
  display: flex;
  flex-direction: column;
}

.collections__item-wrapper {
  padding: 0 12px;
}

.collections__image {
  width: 100%;
  margin-bottom: 17px;
}

.collections__subtitle {
  display: block;
  margin-bottom: 10px;
}

.collections__subtitle:hover,
.collections__subtitle:focus {
  opacity: 0.8;
  transition: all ease 200ms;
}

.collections__wrapper {
  max-width: 357px;
  margin-left: 18px;
}

.collections__btn {
  width: 2.555em;
  height: 2.555em;
  background: #FFFFFF;
  border: 1px solid #D3D4D5;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  transform: rotate(139.15deg);
  padding: 0;
}

.collections__btn-right {
  position: absolute;
  top: 40%;
  left: -26px;
}

.collections__btn-left {
  position: absolute;
  bottom: 55%;
  right: -26px;
}

.collections__svg {
  transform: rotate(40deg);
  width: 0.59em;
  height: 0.7em;
}

@media screen and (max-width: 1336px) {
  .btn__wrapper {
    display: none;
  }
}
@media screen and (max-width: 767.99px) {
  .collections {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 320px) {
  .collections {
    padding-bottom: 40px;
  }
  .collections__wrapper {
    margin: 0 auto;
  }
  .collections__subtitle {
    padding-bottom: 8px;
    text-align: center;
  }
  .collections__text {
    text-align: center;
  }
}
.nature {
  padding-bottom: 120px;
}

.nature__title {
  text-align: center;
  padding-bottom: 22px;
}

.nature__text {
  max-width: 655px;
  margin: 0 auto;
  text-align: center;
}

.nature__link {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 13px 0;
  width: 380px;
}

@media screen and (max-width: 767.99px) {
  .nature {
    padding-bottom: 60px;
  }
  .nature__link {
    width: 310px;
  }
}
@media screen and (max-width: 320px) {
  .nature {
    padding-bottom: 40px;
  }
}
.arrivals {
  padding-bottom: 120px;
}

.arrivals__container {
  position: relative;
}

.arrivals__title {
  padding-bottom: 24px;
  margin-left: 10px;
}

.arrivals__list {
  display: flex;
  justify-content: center;
}

.arrivals__wrapper-text {
  margin-left: 18px;
}

.arrivals__item {
  display: flex;
  flex-direction: column;
}

.arrivals__item-wrapper {
  padding: 0 12px;
}

.arrivals__image {
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 17px;
}

.arrivals__wrapper {
  margin-left: 18px;
}

.arrivals__subtitle {
  display: inline-block;
  margin-bottom: 6px;
}

.arrivals__subtitle:hover,
.arrivals__subtitle:focus {
  opacity: 0.8;
  transition: all ease 200ms;
}

.arrivals__btn {
  width: 2.555em;
  height: 2.555em;
  background: #FFFFFF;
  border: 1px solid #D3D4D5;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  transform: rotate(139.15deg);
  padding: 0;
}

.arrivals__btn-right {
  position: absolute;
  top: 45%;
  left: -26px;
}

.arrivals__svg {
  transform: rotate(40deg);
  width: 0.59em;
  height: 0.7em;
}

.arrivals__btn-left {
  position: absolute;
  bottom: 48%;
  right: -26px;
}

@media screen and (max-width: 1336px) {
  .arrivals__wrapper {
    display: none;
  }
}
@media screen and (max-width: 767.99px) {
  .arrivals {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 320px) {
  .arrivals {
    padding-bottom: 40px;
  }
  .arrivals__wrapper-text {
    margin: 0 auto;
  }
  .arrivals__subtitle {
    padding-bottom: 8px;
    text-align: center;
  }
  .arrivals__text {
    text-align: center;
  }
}
.climate {
  padding-bottom: 120px;
}

.climate__title {
  text-align: center;
  padding-bottom: 16px;
}

.climate__text {
  max-width: 655px;
  margin: 0 auto;
  text-align: center;
}

.climate__link {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 13px 0;
  width: 380px;
}

@media screen and (max-width: 767.99px) {
  .climate {
    padding-bottom: 60px;
  }
  .climate__link {
    width: 310px;
  }
}
@media screen and (max-width: 320px) {
  .climate {
    padding-bottom: 40px;
  }
}
.stories {
  padding-bottom: 120px;
}

.stories__container {
  position: relative;
}

.stories__title {
  margin-left: 10px;
  padding-bottom: 24px;
}

.stories__list {
  display: flex;
  justify-content: center;
}

.stories__item {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.stories-wrapper-text {
  max-width: 330px;
  margin-left: 18px;
}

.stories__image {
  width: 100%;
  margin-bottom: 17px;
}

.stories__subtitle {
  display: inline-block;
  padding-bottom: 18px;
}

.stories__subtitle:hover,
.stories__subtitle:focus {
  opacity: 0.8;
  transition: all ease 200ms;
}

.stories__btn-right {
  position: absolute;
  top: 45%;
  left: -26px;
}

.stories__btn-left {
  position: absolute;
  bottom: 48%;
  right: -26px;
}

@media screen and (max-width: 1336px) {
  .stories__wrapper {
    display: none;
  }
}
@media screen and (max-width: 767.99px) {
  .stories {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 320px) {
  .stories {
    padding-bottom: 40px;
  }
  .stories-wrapper-text {
    margin: 0 auto;
  }
  .stories__subtitle {
    padding-bottom: 8px;
    text-align: center;
  }
  .stories__text {
    text-align: center;
  }
}
.subscribe {
  padding-bottom: 48px;
}

.subscribe__title {
  text-align: center;
  padding-bottom: 34px;
}

.subscribe__text {
  text-align: center;
  max-width: 832px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.subscribe__note {
  padding-right: 15px;
}

.subscribe__link:hover,
.subscribe__link:focus {
  opacity: 0.8;
  transition: all ease 200ms;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.subscribe__input {
  width: 100%;
  max-width: 520px;
  border: none;
  border-bottom: 2px solid #212A2F;
  padding-left: 66px;
  padding-bottom: 15px;
  color: #212A2F;
  margin-right: 12px;
}

.subscribe__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.22);
}

.subscribe__btn {
  padding: 15px 0;
  width: 111px;
}

.subscribe__wrapper {
  display: flex;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #74797C;
  justify-content: center;
}

@media screen and (max-width: 447px) {
  .subscribe__btn {
    padding: 8px 0;
    width: 55px;
  }
  .subscribe__btn {
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 1;
  }
}
.footer {
  background-color: #212A2F;
  color: #ffffff;
  padding-top: 72px;
  padding-bottom: 90px;
}

.navigation__wrapper {
  display: flex;
  padding-bottom: 72px;
}

.navigation__list {
  padding-right: 230px;
}

.navigation__title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 18px;
}

.navigation__item {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.navigation__item:not(:last-child) {
  padding-bottom: 16px;
}

.navigation__link:hover,
.navigation__link:focus {
  opacity: 0.7;
  transition: all ease 200ms;
}

.follow__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.follow__title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 21px;
}

.follow__text {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  max-width: 293px;
}

.follow__list {
  display: flex;
}

.follow__item:not(:last-child) {
  padding-right: 24px;
}

.follow__img {
  width: 37px;
  height: 22px;
}

.copyright {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

@media screen and (max-width: 1164px) {
  .navigation__list {
    padding-right: 200px;
  }
}
@media screen and (max-width: 950px) {
  .navigation__list {
    padding-right: 150px;
  }
}
@media screen and (max-width: 834px) {
  .navigation__list {
    padding-right: 60px;
  }
  .navigation__wrapper {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 596px) {
  .navigation__wrapper {
    flex-wrap: wrap;
  }
  .navigation__list:not(:last-child) {
    padding-bottom: 18px;
  }
  .follow__item:not(:last-child) {
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
