.arrivals{
    padding-bottom: 120px;
}

.arrivals__container{
    position: relative;
}
.arrivals__title{
    padding-bottom: 24px;
    margin-left: 10px;
}

.arrivals__list{
    display: flex;
    justify-content: center;
}
.arrivals__wrapper-text{
    margin-left: 18px;
}
.arrivals__item {
    display: flex;
    flex-direction: column;
}

.arrivals__item-wrapper{
    padding: 0 12px;
}

.arrivals__image{
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 17px;
}
.arrivals__wrapper{
    margin-left: 18px;
}
.arrivals__subtitle{
    display: inline-block;
    margin-bottom: 6px;
}
.arrivals__subtitle:hover,
.arrivals__subtitle:focus{
    opacity: .8;
    transition: all ease 200ms;
}
.arrivals__btn {
    width: 2.555em;
    height: 2.555em;
    background: #FFFFFF;
    border: 1px solid #D3D4D5;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    transform: rotate(139.15deg);
    padding: 0;
}
.arrivals__btn-right {
    position: absolute;
    top: 45%;
    left: -26px;
}
.arrivals__svg {
    transform: rotate(40deg);
    width: 0.59em;
    height: 0.7em;
}
.arrivals__btn-left {
    position: absolute;
    bottom: 48%;
    right: -26px;
}

@media screen and (max-width: 1336px){
    .arrivals__wrapper{
        display: none;
    }
}
@media screen and (max-width: 767.99px){
    .arrivals {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 320px){
    .arrivals{
        padding-bottom: 40px;
    }
    .arrivals__wrapper-text{
        margin: 0 auto;
    }
    .arrivals__subtitle{
        padding-bottom: 8px;
        text-align: center;
    }
    .arrivals__text{
        text-align: center;
    }
    
}