.change {
    padding-bottom: 120px;
}
.change__image {
    padding-bottom: 48px;
}
.change__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.change__title {
}
.change__text {
}
.change__wrapper__link {
}
.change__link {
}