.change {
    padding-bottom: 120px;
}
.change__container {
    display: flex;
    flex-direction: column;
}
.change__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.change__text{
    margin: 0 auto;
    text-align: center;
}

.change__wrapper__link {
    display: flex;
    margin: 0 auto;
}
.change__link {
    width: 180px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

.change__link:not(:last-child){
    margin-right: 24px;
}

@media screen and (max-width: 375px){
    .change__wrapper__link {
        flex-direction: column;
    }
    .change__link:not(:last-child){
        margin-right: 0;
        margin-bottom: 16px;
    }
}