.climate {
    padding-bottom: 120px;
}
.climate__container {
}
.climate__title {
    text-align: center;
    padding-bottom: 16px;
}
.climate__text {
    max-width: 655px;
    margin: 0 auto;
    text-align: center;
}
.climate__link {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 13px 0;
    width: 380px;
}

@media screen and (max-width: 767.99px){
    .climate {
        padding-bottom: 60px;
    }

    .climate__link{
        width: 310px;
    }
}

@media screen and (max-width: 320px){
    .climate {
        padding-bottom: 40px;
    }
    
}