.collections {
    padding-bottom: 120px;
}
.collections__container {
    position: relative;
}
.collections__title{
    padding-bottom: 24px;
    margin-left: 10px;
}
.collections__list {
    display: flex;
    justify-content: center;
}
.collections__item {
    display: flex;
    flex-direction: column;
}

.collections__item-wrapper{
    padding:0 12px;
}

.collections__image {
    width: 100%;
    margin-bottom: 17px;
}
.collections__subtitle {
    display: block;
    margin-bottom: 10px;
}
.collections__wrapper{
    max-width: 357px;
    margin-left: 18px;
}
.collections__btn {
    width: 2.555em;
    height: 2.555em;
    background: #FFFFFF;
    border: 1px solid #D3D4D5;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    transform: rotate(139.15deg);
    padding: 0;
}
.collections__btn-right{
    position: absolute;
    top: 40%;
    left: -26px;
}
.collections__btn-left{
    position: absolute;
    bottom: 55%;
    right: -26px;
}
.collections__svg {
    transform: rotate(40deg);
    width: 0.59em;
    height: 0.7em;
}

@media screen and (max-width: 1336px){
    .btn__wrapper{
        display: none;
    }
}

@media screen and (max-width: 767.99px){
    .collections {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 320px){
    .collections {
        padding-bottom: 40px;
    }
    .collections__wrapper{
        margin: 0 auto;
    }
    .collections__subtitle{
        padding-bottom: 8px;
        text-align: center;
    }
    .collections__text{
        text-align: center;
    }
}

