.favorites {
    padding-top: 120px;
    padding-bottom: 120px;
}
.favorites__container {
}
.favorites__main-title {
    font-family: 'Roboto', sans-serif;
    @include fonts(normal, 700, 32px, 1.3);
    text-align: center;
    letter-spacing: 0.5px;
    padding-bottom: 32px;
    color: #212A2F;
}

.favorites__wrapper-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites__btn{
    font-family: 'Roboto', sans-serif;
    @include fonts(normal, 400, 16px, 1.3);

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #212A2F;

    border: none;
    background-color: transparent;
    padding: 10px 30px;
}

.favorites__btn:not(:last-child){
    margin-right: 72px;
}

.favorites__wrapper-block{
    position: relative;
    margin-bottom: 18px;
}
.favorites__list {
    display: flex;
    justify-content: center;

    // border-top: 2px solid #D3D4D5;
    padding-top: 34px;
}
.favorites__wrapper-btn::after{
    content: '';
    border: 2px solid #D3D4D5;
    width: 1236px;
    position: absolute;
    bottom: -3px;
}
.favorites__item {

}
.favorites__item:not(:last-child){
    margin-right: 24px;
}
.favorites__image {
}
.favorites__wrapper-option{
    padding-right: 30px;
    padding-left: 30px;
}
.favorites__title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    @include fonts(normal, 700, 22px, 1.2);
    letter-spacing: 0.5px;
    color: #212A2F;
    margin-bottom: 22px;
}

.favorites__title::after{
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #D3D4D5;
    left: 0;
    top: 35px;
}

.favorites__wrapper {
    display: flex;
    align-items: center;
}
.favorites__text {
}

.favorites__text:not(:first-child){
    margin-left: 12px;
}
.favorites__wrapper-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.favorites__link {
    text-align: center;
    width: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.favorites__link:not(:last-child){
    margin-bottom: 12px;
}

.everyday__list {

}
.everyday__item {
}
.everyday__image {
}
.everyday_title {
}
.everyday__wrapper {
}
.everyday__text {
}
.everyday__wrapper__link {
}
.everyday__link {
}
.everyday__title {
}
.running__list {
}
.running__item {
}
.running__image {
}
.running_title {
}
.running__wrapper {
}
.running__text {
}
.running__wrapper__link {
}
.running__link {
}
.running__title {
}
.travel__list {
}
.travel__item {
}
.travel_title {
}
.travel__wrapper {
}
.travel__text {
}
.travel__wrapper__link {
}
.travel__link {
}
.travel__image {
}
.travel__title {
}



