.footer {
    background-color: #212A2F;
    color: #ffffff;
    padding-top: 72px;
    padding-bottom: 90px;
}
.footer__container {
}
.container {
}
.navigation__wrapper {
}
.navigation__list {
}
.navigation__title {
}
.navigation__item {
}
.navigation__link {
}
.follow__container {
}
.follow__wrapper {
}
.follow__title {
}
.follow__text {
}
.follow__list {
}
.follow__item {
}
.follow__link {
}
.follow__svg {
}
.copyright {
}
.copyright__wrapper {
}
.copyright__link {
}