.footer {
    background-color: #212A2F;
    color: #ffffff;
    padding-top: 72px;
    padding-bottom: 90px;
}
.footer__container {
}
.container {
}
.navigation__wrapper {
    display: flex;
    padding-bottom: 72px;
}
.navigation__list {
    padding-right: 230px;
}
.navigation__title {
    font-family: 'Roboto', serif;
    @include fonts(normal, 400, 14px, 1.5);

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
    padding-bottom: 18px;
}
.navigation__item {
    font-family: 'Roboto', serif;
    @include fonts(normal, 400, 12px, 1);

    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.navigation__item:not(:last-child){
    padding-bottom: 16px;
}
.navigation__link {
}
.follow__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}
.follow__wrapper {
}
.follow__title {
    font-family: 'Roboto', serif;
    @include fonts(normal, 400, 14px, 1.5);

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
    padding-bottom: 21px;
}
.follow__text {
    font-family: 'Roboto', serif;
    @include fonts(normal, 400, 12px, 1.5);

    letter-spacing: 0.5px;

    color: #FFFFFF;
    max-width: 293px;
}
.follow__list {
    display: flex;
}
.follow__item:not(:last-child){
    padding-right: 24px;
}
.follow__img{
    width: 37px;
    height: 22px;
}
.copyright {
    font-family: 'Roboto', serif;
    @include fonts(normal, 400, 12px, 1.5);

    text-align: center;
    letter-spacing: 0.5px;

    color: #FFFFFF;
}


@media screen and (max-width: 1164px){
    .navigation__list {
        padding-right: 200px;
    }
}

@media screen and (max-width: 950px){
    .navigation__list {
        padding-right: 150px;
    }
}

@media screen and (max-width: 834px){
    .navigation__list {
        padding-right: 60px;
    }
    .navigation__wrapper {
        padding-bottom:24px;
    }
}

@media screen and (max-width: 596px){
    .navigation__wrapper {
        flex-wrap: wrap;
    }

    .navigation__list:not(:last-child) {
        padding-bottom: 18px;
    }

    .follow__item:not(:last-child){
        padding-right: 20px;
    }
}