.stories {
    padding-bottom: 120px;
}
.stories__container {
    position: relative;
}
.stories__title {
    margin-left: 10px;
    padding-bottom: 24px;
}
.stories__list {
    display: flex;
    justify-content: center;
}
.stories__item {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}
.stories-wrapper-text{
    max-width: 330px;
    margin-left: 18px;
}
.stories__item-wrapper {
}
.stories__image {
    width: 100%;
    margin-bottom: 17px;
}
.stories__subtitle {
    padding-bottom: 18px;
}
.stories__text {
}
.stories__btn-right {
    position: absolute;
    top: 45%;
    left: -26px;
}
.stories__btn-left {
    position: absolute;
    bottom: 48%;
    right: -26px;
}

@media screen and (max-width: 1336px){
    .stories__wrapper{
        display: none;
    }
}

@media screen and (max-width: 767.99px){
    .stories {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 320px){
    .stories {
        padding-bottom: 40px;
    }
    .stories-wrapper-text{
        margin: 0 auto;
    }
    .stories__subtitle{
        padding-bottom: 8px;
        text-align: center;
    }
    .stories__text{
        text-align: center;
    }
}
